[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential

[init]
    defaultBranch = main

[user]
	email = naomitesla@protonmail.com
    name = naomi tesla

[alias]
    p = push
    pu = push -u
    cl = clone
    ca = commit -am
    c = commit -m
    a = add
    s = status
    t = track
    d = diff
    r = reset
